html {
    min-height: 100%;
}

body {
    background: linear-gradient(#FFFFC2, #FFFFFF);
}

main {
    margin-top: 10%;
}

header {
    display: grid;
    grid-template-areas: 
        "title"
        "add-todo";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 30px;
}

#title {
    grid-area: title;
    justify-content: center;
}

#todo-input {
    grid-area: add-todo;
    justify-content: center;
}

.flex-container {
    display: flex;
}