* {
    box-sizing: border-box;
    font-family: 'comic sans MS';
}

.banner {
    background-color: red;
    width: 100%;
    margin-bottom: 20px;
}

.banner_title {
    margin: 0 auto;
    background-color: aqua;
    width:  fit-content;
}

h1 {
    font-family: 'comic sans MS';
}

.flex {
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
}


.adding_input input {
    width: 500px;
    margin-right: 20px;
}

.areatexto {
    width: 100%;
    justify-content: center;
    display: flex;
}

.backgroundbox {
    background-color: yellow;
    width: 50%;
    height: fit-content;
}

.activitieslist {
    background-color: green;
    width: fit-content;
}












